<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1 class="h">This is home page.</h1>
    <!-- 
      kono image use korar somoy project folder er settings a giye setar STATICFILES_DIRS er BASE_DIR change kore diye aste hobe must
     -->

    <img src="{% static 'images/rakib.png' %}" alt="" />
  </body>
</html>
